In [2]:
import pandas as pd

In [3]:
%matplotlib inline

In [4]:
pd.options.display.max_columns = 25

In [5]:
pd.options.display.max_rows = None

In [6]:
# https://www.kaggle.com/kanncaa1/data-sciencetutorial-for-beginners

In [7]:
file_resp = '../dados/TS_ITEM.csv'

In [8]:
file_alunos_ag = '../dados/TS_ALUNO_3EM_ESC.csv'

In [9]:
colunas_resp = ['ID_SERIE', 'TIPO_PROVA', 'DISCIPLINA', 'ID_SERIE_ITEM', 'ID_POSICAO', 'GABARITO']
# DESCRITOR_HABILIDADE

In [10]:
colunas_aluno = [
    # Localidade
    'ID_PROVA_BRASIL',  # Ano da Prova, pode ser ignorado, pois os arquivos são baixados por ano
    'ID_UF', 'ID_MUNICIPIO',
    # Preenchimento Prova
    'ID_SERIE', 'IN_PREENCHIMENTO_PROVA', 'IN_PRESENCA_PROVA',
    # Respostas da Prova
    'ID_BLOCO_1', 'ID_BLOCO_2',
    'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT',
    # Proeficiência do ALuno
    'PESO_ALUNO_LP', 'PESO_ALUNO_MT',
    'PROFICIENCIA_LP', 'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB', 'ERRO_PADRAO_LP_SAEB',
    'PROFICIENCIA_MT', 'ERRO_PADRAO_MT', 'PROFICIENCIA_MT_SAEB', 'ERRO_PADRAO_MT_SAEB',
    # Questionário Socioeconômico
    'IN_PREENCHIMENTO_QUESTIONARIO',
    'TX_RESP_Q001', # Sexo
    'TX_RESP_Q002' # Cor/Raça
]

In [11]:
df_gabarito = pd.read_csv(
    file_resp,
    delimiter=';', encoding='iso-8859-1',
    usecols=colunas_resp,
    low_memory=True
    #  # true_values=['1'],
    # false_values=['0']
)

In [12]:
df_gabarito.sample(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_POSICAO,GABARITO
472,9,Prova Regular,LP,9,2,B
428,5,Macrotipo 18 e 24,MT,5,8,D
618,9,Prova Regular,MT,9,5,D
295,5,Prova Regular,LP,5,7,A
614,9,Prova Regular,MT,9,1,D
89,3,Prova Regular,LP,3,12,C
550,9,Prova Regular,MT,9,2,C
130,3,Prova Regular,MT,3,1,D
4,3,Prova Regular,LP,3,5,C
435,9,Prova Regular,LP,9,4,D

In [13]:
df_gabarito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 6 columns):
ID_SERIE         666 non-null int64
TIPO_PROVA       666 non-null object
DISCIPLINA       666 non-null object
ID_SERIE_ITEM    666 non-null int64
ID_POSICAO       666 non-null int64
GABARITO         666 non-null object
dtypes: int64(3), object(3)
memory usage: 23.5+ KB

In [15]:
df_aluno = pd.read_csv(
    file_alunos_ag,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True,
    nrows=5000
    #  # true_values=['1'],
    # false_values=['0']
)

In [16]:
df_aluno.sample(10)

,ID_PROVA_BRASIL,ID_UF,ID_MUNICIPIO,ID_SERIE,IN_PREENCHIMENTO_PROVA,IN_PRESENCA_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT,PESO_ALUNO_LP,PESO_ALUNO_MT,PROFICIENCIA_LP,ERRO_PADRAO_LP,PROFICIENCIA_LP_SAEB,ERRO_PADRAO_LP_SAEB,PROFICIENCIA_MT,ERRO_PADRAO_MT,PROFICIENCIA_MT_SAEB,ERRO_PADRAO_MT_SAEB,IN_PREENCHIMENTO_QUESTIONARIO,TX_RESP_Q001,TX_RESP_Q002
1947,2017,11,1100098,12,1,1,3,4,DDEBEADDCDEAD,EEEACAADCCCEE,EACAACCCDEDAB,CAEDDCBDBEDDA,1.500000,1.500000,0.702790,0.358939,288.704054,19.775157,0.761492,0.444004,292.525942,24.816417,1,B,C
2336,2017,11,1100114,12,1,1,2,4,DDAAECDDDBECD,EDCACAABCCDBA,DBCDBADCCACCB,ADCDCABDCCBAA,1.035714,1.035714,1.913828,0.390610,355.424210,21.520018,1.336722,0.370846,324.676885,20.727446,1,B,A
4121,2017,11,1100155,12,1,1,3,4,CBABEBBACCEAD,CDEACDABDDABE,ECAEACACACCEE,CDDD.DDDCBDEA,1.083333,1.083333,0.347750,0.359196,269.143707,19.789316,0.100340,0.662539,255.572617,37.030847,1,B,C
3591,2017,11,1100122,12,1,1,4,7,EBAACAACCECBE,DEBCEADCCCDDC,CBCDBABDBDADE,BBECACCDBBCCD,1.000000,1.000000,0.573464,0.294406,281.579050,16.219817,1.275057,0.386295,321.230285,21.590927,1,B,D
4195,2017,11,1100189,12,1,1,4,5,BCDACAABCCABE,DABDCEDDAEAAB,CEADCCBBAEAEB,BBEEACCCDE.BE,1.785714,1.785714,1.245445,0.319050,318.600743,17.577537,0.177623,0.461674,259.892144,25.804035,1,B,NaN
1544,2017,11,1100064,12,1,1,5,7,CBEECEDDADAAC,DEBCADACCCDAB,BAACCBBCCCDAC,CCACABCBCAADA,1.266667,1.266667,0.527420,0.286975,279.042331,15.810418,-0.561059,0.572191,218.605487,31.981087,1,B,C
1808,2017,11,1100098,12,1,1,6,1,AECAADDBBEBCE,AEECACDDCBACA,BCBDEECBBDADC,CABADDADABEBE,1.185185,1.185185,-1.303006,0.632841,178.198008,34.865339,-0.281267,0.542308,234.243714,30.310857,1,A,C
4899,2017,11,1100205,12,1,1,3,4,CBDCAEDDAAEAD,EDECCAACCAABE,EBADCACCCBEED,CEDDECBCBCAAD,1.054054,1.054054,1.032801,0.322156,306.885470,17.748657,1.356673,0.379008,325.791993,21.183639,1,A,A
2539,2017,11,1100114,12,1,1,6,1,BAADACBCBADCB,BBDCEDACBBCDB,DEAEEABABEBAB,CBAAABDBBCDDC,1.166667,1.166667,-0.129827,0.447264,242.832384,24.641278,0.360987,0.437123,270.140785,24.431822,1,B,B
1058,2017,11,1100049,12,1,1,6,2,BEEDBCBCDECEE,DDAAEDDCCBAAD,BBBEEBCABCCBD,DBBCEEDBDABBB,1.532252,1.532252,0.194579,0.360801,260.705001,19.877740,0.528589,0.443470,279.508451,24.786571,1,B,C

In [17]:
df_aluno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
ID_PROVA_BRASIL                  5000 non-null int64
ID_UF                            5000 non-null int64
ID_MUNICIPIO                     5000 non-null int64
ID_SERIE                         5000 non-null int64
IN_PREENCHIMENTO_PROVA           5000 non-null int64
IN_PRESENCA_PROVA                5000 non-null int64
ID_BLOCO_1                       5000 non-null int64
ID_BLOCO_2                       5000 non-null int64
TX_RESP_BLOCO_1_LP               5000 non-null object
TX_RESP_BLOCO_2_LP               5000 non-null object
TX_RESP_BLOCO_1_MT               5000 non-null object
TX_RESP_BLOCO_2_MT               5000 non-null object
PESO_ALUNO_LP                    5000 non-null float64
PESO_ALUNO_MT                    5000 non-null float64
PROFICIENCIA_LP                  5000 non-null float64
ERRO_PADRAO_LP                   5000 non-null float64
PROFICIENCIA_LP_SAEB             5000 non-null float64
ERRO_PADRAO_LP_SAEB              5000 non-null float64
PROFICIENCIA_MT                  5000 non-null float64
ERRO_PADRAO_MT                   5000 non-null float64
PROFICIENCIA_MT_SAEB             5000 non-null float64
ERRO_PADRAO_MT_SAEB              5000 non-null float64
IN_PREENCHIMENTO_QUESTIONARIO    5000 non-null int64
TX_RESP_Q001                     4900 non-null object
TX_RESP_Q002                     4913 non-null object
dtypes: float64(10), int64(9), object(6)
memory usage: 859.4+ KB

In [27]:
# https://mybinder.org/v2/gh/luizirber/2018-desertos/master?filepath=Usando%20Pandas%20para%20encontrar%20os%20desertos%20de%20not%C3%ADcias%20no%20Brasil.ipynb

In [28]:
# aluno_resposta = df_aluno.join(df_gabarito, on=('ID_SERIE', ), lsuffix='_l', rsuffix='_r')

In [29]:
# aluno_resposta.describe()

In [30]:
# aluno_resposta.info()

In [31]:
# aluno_resposta.sample(10)

In [32]:
# aluno_resposta.to_numpy()

array([[2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       ...,
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D']], dtype=object)

In [33]:
# To-do: Função que vê se uma resposta está certa

In [34]:
# doing

In [ ]:
# p = pd.DataFrame(data, columns=[])

In [18]:
dados = list()

In [19]:
colunas = ['id aluno', 'Regiao', 'UF', 'Area', 'Acertos LP', 'Acertos MT']  # id_aluno -> consultar ANEB alunos

In [23]:
for r in df_aluno.to_numpy():
    d = []
    for gab in df_gabarito.to_numpy():
        # if gab['ID_SERIE'] == r['ID_SERIE']:
        if gab[0] == r[3]:
            # 8 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT',
            nota_mt = 0
            nota_pt = 0
            if gab[2] == 'LP':
                if r[8][gab['ID_POSICAO']] == gab['GABARITO'] and gab['GABARITO'] not in ('X', '.'):
                    nota_pt += 1
            elif gab[2] == 'MT':
                if r[10][gab['ID_POSICAO']] == gab['GABARITO'] and gab['GABARITO'] not in ('X', '.'):
                    nota_mt += 1
            d.append([
                #r['ID_ALUNO'],
                #r['ID_REGIAO'],
                r[0],
                #r['ID_AREA'],
                nota_pt,
                nota_mt
            ])

In [24]:
d

[]