In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
pd.options.display.max_columns = 25

In [4]:
pd.options.display.max_rows = None

Arquivos extraídos do Microdados INEP

In [5]:
file_resp = '../dados/TS_ITEM.csv'

In [6]:
file_alunos_3EM_ESC = '../dados/TS_ALUNO_3EM_ESC.csv'
file_alunos_3EM_AG = '../dados/TS_ALUNO_3EM_AG.csv'
file_alunos_5EF = '../dados/TS_ALUNO_5EF.csv'
file_alunos_9EF = '../dados/TS_ALUNO_9EF.csv'

Conjunto Definido de Colunas à Serem Utilizadas

Identificadores das Colunas

In [ ]:

RESPOSTAS_INVALIDAS = ['X', '.', '*', ' ', '']

ID_SERIE = 'ID_SERIE'
TIPO_PROVA = 'TIPO_PROVA'
DISCIPLINA = 'DISCIPLINA'
ID_SERIE_ITEM = 'ID_SERIE_ITEM'
ID_BLOCO = 'ID_BLOCO'
ID_POSICAO = 'ID_POSICAO'
GABARITO = 'GABARITO'
ID_PROVA_BRASIL = 'ID_PROVA_BRASIL' # Ano da Prova, pode ser ignorado, pois os arquivos são baixados por ano
ID_UF = 'ID_UF'
ID_MUNICIPIO = 'ID_MUNICIPIO'

# Preenchimento Prova
# ID_SERIE = 'ID_SERIE'
ID_ALUNO = 'ID_ALUNO'
IN_PREENCHIMENTO_PROVA = 'IN_PREENCHIMENTO_PROVA'
IN_PRESENCA_PROVA = 'IN_PRESENCA_PROVA'
ID_REGIAO = 'ID_REGIAO'
ID_AREA = 'ID_AREA'
# Respostas da Prova
ID_BLOCO_1 = 'ID_BLOCO_1'
ID_BLOCO_2 = 'ID_BLOCO_2'
TX_RESP_BLOCO_1_LP = 'TX_RESP_BLOCO_1_LP'
TX_RESP_BLOCO_2_LP = 'TX_RESP_BLOCO_2_LP'
TX_RESP_BLOCO_1_MT = 'TX_RESP_BLOCO_1_MT'
TX_RESP_BLOCO_2_MT = 'TX_RESP_BLOCO_2_MT'
# Proeficiência do ALuno
PESO_ALUNO_LP = 'PESO_ALUNO_LP'
PESO_ALUNO_MT = 'PESO_ALUNO_MT'
PROFICIENCIA_LP = 'PROFICIENCIA_LP'
ERRO_PADRAO_LP = 'ERRO_PADRAO_LP'
PROFICIENCIA_LP_SAEB = 'PROFICIENCIA_LP_SAEB'
ERRO_PADRAO_LP_SAEB = 'ERRO_PADRAO_LP_SAEB'
PROFICIENCIA_MT = 'PROFICIENCIA_MT'
ERRO_PADRAO_MT = 'ERRO_PADRAO_MT'
PROFICIENCIA_MT_SAEB = 'PROFICIENCIA_MT_SAEB'
ERRO_PADRAO_MT_SAEB = 'ERRO_PADRAO_MT_SAEB'
# Questionário Socioeconômico
IN_PREENCHIMENTO_QUESTIONARIO = 'IN_PREENCHIMENTO_QUESTIONARIO'
TX_RESP_Q001 = 'TX_RESP_Q001' # Sexo
TX_RESP_Q002 = 'TX_RESP_Q002' # Cor/Raça

In [8]:
colunas_resp = [ID_SERIE, TIPO_PROVA, DISCIPLINA, ID_SERIE_ITEM, ID_BLOCO, ID_POSICAO, GABARITO]
# DESCRITOR_HABILIDADE

In [36]:
colunas_aluno = [
    ID_ALUNO,
    ID_PROVA_BRASIL,
    ID_UF, ID_MUNICIPIO, ID_REGIAO, ID_AREA,
    ID_SERIE, IN_PREENCHIMENTO_PROVA, IN_PRESENCA_PROVA,
    ID_BLOCO_1, ID_BLOCO_2,
    TX_RESP_BLOCO_1_LP, TX_RESP_BLOCO_2_LP, TX_RESP_BLOCO_1_MT, TX_RESP_BLOCO_2_MT,
    PESO_ALUNO_LP, PESO_ALUNO_MT,
    PROFICIENCIA_LP, ERRO_PADRAO_LP, PROFICIENCIA_LP_SAEB, ERRO_PADRAO_LP_SAEB,
    PROFICIENCIA_MT, ERRO_PADRAO_MT, PROFICIENCIA_MT_SAEB, ERRO_PADRAO_MT_SAEB,
    IN_PREENCHIMENTO_QUESTIONARIO,
    TX_RESP_Q001,
    TX_RESP_Q002
]

In [10]:
df_gabarito = pd.read_csv(
    file_resp,
    delimiter=';', encoding='iso-8859-1',
    usecols=colunas_resp,
    low_memory=True
    #  # true_values=['1'],
    # false_values=['0']
)

In [11]:
df_gabarito.sample(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
139,3,Prova Regular,MT,3,2,10,D
661,9,Macrotipo 18 e 24,MT,5,2,9,B
601,9,Prova Regular,MT,9,5,1,C
575,9,Prova Regular,MT,9,3,1,D
653,9,Macrotipo 18 e 24,MT,9,2,1,D
144,3,Prova Regular,MT,3,3,2,B
255,5,Prova Regular,LP,5,2,11,C
19,3,Prova Regular,LP,9,2,7,D
582,9,Prova Regular,MT,5,3,8,C
392,5,Prova Regular,MT,5,6,5,D

In [12]:
df_gabarito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 7 columns):
ID_SERIE         666 non-null int64
TIPO_PROVA       666 non-null object
DISCIPLINA       666 non-null object
ID_SERIE_ITEM    666 non-null int64
ID_BLOCO         666 non-null int64
ID_POSICAO       666 non-null int64
GABARITO         666 non-null object
dtypes: int64(4), object(3)
memory usage: 36.5+ KB

In [37]:
df_aluno = pd.read_csv(
    file_alunos_5EF,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True,
    nrows=50000
    #  # true_values=['1'],
    # false_values=['0']
)

In [40]:
df_aluno.sample(10)

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_SERIE,ID_ALUNO,IN_PREENCHIMENTO_PROVA,IN_PRESENCA_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,...,PESO_ALUNO_MT,PROFICIENCIA_LP,ERRO_PADRAO_LP,PROFICIENCIA_LP_SAEB,ERRO_PADRAO_LP_SAEB,PROFICIENCIA_MT,ERRO_PADRAO_MT,PROFICIENCIA_MT_SAEB,ERRO_PADRAO_MT_SAEB,IN_PREENCHIMENTO_QUESTIONARIO,TX_RESP_Q001,TX_RESP_Q002
430,2017,1,11,1100023,2,5,21506599,1,1,6,2,ADABBBAACBC,...,0.923077,-0.393195,0.289408,228.322555,15.944460,-0.732416,0.324993,209.027946,18.164615,1,B,C
28735,2017,1,11,6305481,2,5,21535721,1,1,4,6,BCCBAADDDAC,...,3.566540,1.275135,0.603217,320.236465,33.233253,0.524633,0.304769,279.287341,17.034249,1,A,A
563,2017,1,11,1100023,2,5,21506712,1,1,7,3,BBDCCDBABCB,...,1.000000,-0.636982,0.273019,214.891510,15.041535,-0.656250,0.338939,213.285041,18.944090,1,A,A
17900,2017,1,11,1100205,1,5,21548266,0,0,2,3,...........,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
28185,2017,1,11,6305476,1,5,21489231,0,0,1,4,...........,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
8318,2017,1,11,1100122,2,5,21514841,0,0,4,5,...........,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
48942,2017,1,13,1300631,2,5,21787824,1,1,4,7,BDCACABDCAA,...,1.750000,-1.395069,0.355631,173.125947,19.592908,-1.480352,0.407491,167.224062,22.775621,1,B,A
44218,2017,1,13,1300029,2,5,21612183,1,1,7,3,BBDCBCBABAD,...,1.000000,0.510556,0.367662,278.113237,20.255736,0.850638,0.374596,297.508519,20.937042,1,A,A
41458,2017,1,12,1200450,2,5,21583076,1,1,7,2,BBDCADBACAD,...,1.031250,0.988657,0.515927,304.453429,28.424153,0.853362,0.398850,297.660770,22.292655,1,B,C
28448,2017,1,11,6305476,1,5,21489056,1,1,6,2,ADACBABCCBC,...,1.850825,-0.557675,0.303542,219.260799,16.723150,0.481605,0.327238,276.882406,18.290094,1,B,C

In [41]:
df_aluno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 28 columns):
ID_PROVA_BRASIL                  50000 non-null int64
ID_REGIAO                        50000 non-null int64
ID_UF                            50000 non-null int64
ID_MUNICIPIO                     50000 non-null int64
ID_AREA                          50000 non-null int64
ID_SERIE                         50000 non-null int64
ID_ALUNO                         50000 non-null int64
IN_PREENCHIMENTO_PROVA           50000 non-null int64
IN_PRESENCA_PROVA                50000 non-null int64
ID_BLOCO_1                       50000 non-null int64
ID_BLOCO_2                       50000 non-null int64
TX_RESP_BLOCO_1_LP               50000 non-null object
TX_RESP_BLOCO_2_LP               50000 non-null object
TX_RESP_BLOCO_1_MT               50000 non-null object
TX_RESP_BLOCO_2_MT               50000 non-null object
PESO_ALUNO_LP                    42586 non-null float64
PESO_ALUNO_MT                    42586 non-null float64
PROFICIENCIA_LP                  42669 non-null float64
ERRO_PADRAO_LP                   42669 non-null float64
PROFICIENCIA_LP_SAEB             42669 non-null float64
ERRO_PADRAO_LP_SAEB              42669 non-null float64
PROFICIENCIA_MT                  42669 non-null float64
ERRO_PADRAO_MT                   42669 non-null float64
PROFICIENCIA_MT_SAEB             42669 non-null float64
ERRO_PADRAO_MT_SAEB              42669 non-null float64
IN_PREENCHIMENTO_QUESTIONARIO    50000 non-null int64
TX_RESP_Q001                     40344 non-null object
TX_RESP_Q002                     40260 non-null object
dtypes: float64(10), int64(12), object(6)
memory usage: 10.7+ MB

In [27]:
# https://mybinder.org/v2/gh/luizirber/2018-desertos/master?filepath=Usando%20Pandas%20para%20encontrar%20os%20desertos%20de%20not%C3%ADcias%20no%20Brasil.ipynb

In [28]:
# aluno_resposta = df_aluno.join(df_gabarito, on=('ID_SERIE', ), lsuffix='_l', rsuffix='_r')

In [29]:
# aluno_resposta.describe()

In [30]:
# aluno_resposta.info()

In [31]:
# aluno_resposta.sample(10)

In [32]:
# aluno_resposta.to_numpy()

array([[2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       ...,
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D']], dtype=object)

In [33]:
# To-do: Função que vê se uma resposta está certa

In [34]:
# doing

In [ ]:
# p = pd.DataFrame(data, columns=[])

In [16]:
dados = list()

In [42]:
### Série
idx_serie_gab = colunas_resp.index(ID_SERIE)
idx_serie_aluno = colunas_aluno.index(ID_SERIE)

### R. Respostas
idx_disciplina = colunas_resp.index(DISCIPLINA)
idx_posicao_gabarito = colunas_resp.index(ID_POSICAO)
idx_gabarito = colunas_resp.index(GABARITO)

### Blocos
bloco_gab = colunas_resp.index(ID_BLOCO) 
bloco_resp_1 = colunas_aluno.index(ID_BLOCO_1)
bloco_resp_2 = colunas_aluno.index(ID_BLOCO_2)
aluno_resp_bloco_1_lp = colunas_aluno.index(TX_RESP_BLOCO_1_LP) 
aluno_resp_bloco_2_lp = colunas_aluno.index(TX_RESP_BLOCO_2_LP) 
aluno_resp_bloco_1_mt = colunas_aluno.index(TX_RESP_BLOCO_1_MT) 
aluno_resp_bloco_2_mt = colunas_aluno.index(TX_RESP_BLOCO_2_MT) 

### Região de Estudo/Aluno
idx_uf = colunas_aluno.index(ID_UF )
idx_municipio = colunas_aluno.index(ID_MUNICIPIO)
idx_regiao = colunas_aluno.index(ID_REGIAO)
idx_area = colunas_aluno.index(ID_AREA)
idx_sexo = colunas_aluno.index(TX_RESP_Q001)
idx_raca = colunas_aluno.index(TX_RESP_Q002)

In [43]:
colunas_filtro = ['ID Aluno', 'Série', 'Nota LP', 'Nota MT', 'UF', 'Município', 'Região', 'Área', 'Sexo', 'Raça']
dados_filtrados = []

In [44]:
for r in df_aluno.to_numpy():
    nota_mt = 0
    nota_pt = 0
    for gab in df_gabarito.to_numpy():
        # if gab['ID_SERIE'] == r['ID_SERIE']:
        if gab[idx_serie_gab] == r[idx_serie_aluno] and\
                (r[bloco_resp_1] == gab[bloco_gab] or r[bloco_resp_2] == gab[bloco_gab]):
            # 8 'TX_RESP_BLOCO_1_LP'8, 'TX_RESP_BLOCO_2_LP'9, 'TX_RESP_BLOCO_1_MT'10, 'TX_RESP_BLOCO_2_MT'11,
            is_bloco_1 = r[bloco_resp_1] == gab[bloco_gab]
            if is_bloco_1 and r[bloco_resp_2] == gab[bloco_gab]:
                print ('EDGE CASES!!')
            if gab[idx_gabarito] not in RESPOSTAS_INVALIDAS:
                if gab[idx_disciplina] == 'LP':
                    resp_aluno = str(r[aluno_resp_bloco_1_lp if is_bloco_1 else aluno_resp_bloco_2_lp])
                    if gab[idx_posicao_gabarito] in (13, 12):
                        print ('EDGE CASES!!')
                    if resp_aluno[gab[idx_posicao_gabarito]-1] == gab[idx_gabarito]:
                        nota_pt += 1
                elif gab[idx_disciplina] == 'MT':
                    resp_aluno = str(r[aluno_resp_bloco_1_mt if is_bloco_1 else aluno_resp_bloco_2_mt])
                    if resp_aluno[gab[idx_posicao_gabarito]-1] == gab[idx_gabarito]:
                        nota_mt += 1
    # if nota_pt > 22 or nota_mt > 22:
    #     print ('EDGE CASES!')
    if nota_pt or nota_mt:
        dados_filtrados.append([
            r[0],
            r[idx_serie_aluno],
            nota_pt,
            nota_mt,
            r[idx_uf],
            r[idx_municipio],
            r[idx_regiao],
            r[idx_area],
            r[idx_sexo],
            r[idx_raca]
        ])
#%
dados_filtrados = pd.DataFrame(dados_filtrados, columns=colunas_filtro)

In [46]:
dados_filtrados.sample(5)

ValueError: 'a' must be greater than 0 unless no samples are taken

In [ ]:
df_aluno.query('ID_SERIE == 9 & (ID_BLOCO_1 == 7 | ID_BLOCO_2 == 7)')[['ID_SERIE', 'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT']].head(15)

In [35]:
df_gabarito.query('ID_SERIE == 3 & DISCIPLINA == "LP" & ID_SERIE_ITEM == 9 & ID_BLOCO == 7').head(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
84,3,Prova Regular,LP,9,7,7,A
85,3,Prova Regular,LP,9,7,8,C
86,3,Prova Regular,LP,9,7,9,C