In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
pd.options.display.max_columns = 25
pd.options.display.max_rows = 10

Arquivos extraídos do Microdados INEP

In [4]:
file_resp = '../dados/TS_ITEM.csv'

In [5]:
file_alunos_3EM_ESC = '../dados/TS_ALUNO_3EM_ESC.csv'
# file_alunos_3EM_AG = '../dados/TS_ALUNO_3EM_AG.csv'
file_alunos_9EF = '../dados/TS_ALUNO_9EF.csv'
file_alunos_5EF = '../dados/TS_ALUNO_5EF.csv'

Conjunto Definido de Colunas à Serem Utilizadas

Identificadores das Colunas

In [6]:

RESPOSTAS_INVALIDAS = ['X', '.', '*', ' ', '']

ID_SERIE = 'ID_SERIE'
TIPO_PROVA = 'TIPO_PROVA'
DISCIPLINA = 'DISCIPLINA'
ID_SERIE_ITEM = 'ID_SERIE_ITEM'
ID_BLOCO = 'ID_BLOCO'
ID_POSICAO = 'ID_POSICAO'
GABARITO = 'GABARITO'
ID_PROVA_BRASIL = 'ID_PROVA_BRASIL' # Ano da Prova, pode ser ignorado, pois os arquivos são baixados por ano
ID_UF = 'ID_UF'
ID_MUNICIPIO = 'ID_MUNICIPIO'

# Preenchimento Prova
# ID_SERIE = 'ID_SERIE'
ID_ALUNO = 'ID_ALUNO'
IN_PREENCHIMENTO_PROVA = 'IN_PREENCHIMENTO_PROVA'
IN_PRESENCA_PROVA = 'IN_PRESENCA_PROVA'
ID_REGIAO = 'ID_REGIAO'
ID_AREA = 'ID_AREA'
# Respostas da Prova
ID_BLOCO_1 = 'ID_BLOCO_1'
ID_BLOCO_2 = 'ID_BLOCO_2'
TX_RESP_BLOCO_1_LP = 'TX_RESP_BLOCO_1_LP'
TX_RESP_BLOCO_2_LP = 'TX_RESP_BLOCO_2_LP'
TX_RESP_BLOCO_1_MT = 'TX_RESP_BLOCO_1_MT'
TX_RESP_BLOCO_2_MT = 'TX_RESP_BLOCO_2_MT'
# Proeficiência do ALuno
PESO_ALUNO_LP = 'PESO_ALUNO_LP'
PESO_ALUNO_MT = 'PESO_ALUNO_MT'
PROFICIENCIA_LP = 'PROFICIENCIA_LP'
ERRO_PADRAO_LP = 'ERRO_PADRAO_LP'
PROFICIENCIA_LP_SAEB = 'PROFICIENCIA_LP_SAEB'
ERRO_PADRAO_LP_SAEB = 'ERRO_PADRAO_LP_SAEB'
PROFICIENCIA_MT = 'PROFICIENCIA_MT'
ERRO_PADRAO_MT = 'ERRO_PADRAO_MT'
PROFICIENCIA_MT_SAEB = 'PROFICIENCIA_MT_SAEB'
ERRO_PADRAO_MT_SAEB = 'ERRO_PADRAO_MT_SAEB'
# Questionário Socioeconômico
IN_PREENCHIMENTO_QUESTIONARIO = 'IN_PREENCHIMENTO_QUESTIONARIO'
TX_RESP_Q001 = 'TX_RESP_Q001' # Sexo
TX_RESP_Q002 = 'TX_RESP_Q002' # Cor/Raça

In [7]:
colunas_resp = [ID_SERIE, TIPO_PROVA, DISCIPLINA, ID_SERIE_ITEM, ID_BLOCO, ID_POSICAO, GABARITO]
# DESCRITOR_HABILIDADE

In [8]:
colunas_aluno = [
    ID_ALUNO,
    # ID_PROVA_BRASIL,
    ID_UF, ID_MUNICIPIO, ID_REGIAO, ID_AREA,
    ID_SERIE, IN_PREENCHIMENTO_PROVA, # IN_PRESENCA_PROVA,
    ID_BLOCO_1, ID_BLOCO_2,
    TX_RESP_BLOCO_1_LP, TX_RESP_BLOCO_2_LP, TX_RESP_BLOCO_1_MT, TX_RESP_BLOCO_2_MT,
    # PESO_ALUNO_LP, PESO_ALUNO_MT,
    PROFICIENCIA_LP, # ERRO_PADRAO_LP, PROFICIENCIA_LP_SAEB, ERRO_PADRAO_LP_SAEB,
    PROFICIENCIA_MT, # ERRO_PADRAO_MT, PROFICIENCIA_MT_SAEB, ERRO_PADRAO_MT_SAEB,
    # IN_PREENCHIMENTO_QUESTIONARIO,
    TX_RESP_Q001,
    TX_RESP_Q002
]

#### Gabarito, 666 itens corrigidos (+36KB)

#### 5SEM,     2.624.019 provas (+360MB)
#### 9SEM,     2.341.459 provas (+321MB)
#### 3SEMAG,   1.966.507 provas (+270MB)
###### 3SEMESC,  1.456.325 provas (+200MB)

In [9]:
df_gabarito = pd.read_csv(
    file_resp,
    delimiter=';', encoding='iso-8859-1',
    usecols=colunas_resp,
    # low_memory=True
)

In [10]:
df_gabarito.sample(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
50,3,Prova Regular,LP,3,4,12,B
593,9,Prova Regular,MT,9,4,6,B
176,3,Prova Regular,MT,9,5,8,C
345,5,Prova Regular,MT,5,2,2,B
293,5,Prova Regular,LP,5,6,5,B
0,3,Prova Regular,LP,3,1,1,B
622,9,Prova Regular,MT,5,6,9,B
118,3,Prova Regular,MT,3,1,2,E
512,9,Prova Regular,LP,9,7,3,D
451,9,Prova Regular,LP,5,2,7,B

In [11]:
df_gabarito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 7 columns):
ID_SERIE         666 non-null int64
TIPO_PROVA       666 non-null object
DISCIPLINA       666 non-null object
ID_SERIE_ITEM    666 non-null int64
ID_BLOCO         666 non-null int64
ID_POSICAO       666 non-null int64
GABARITO         666 non-null object
dtypes: int64(4), object(3)
memory usage: 36.5+ KB

In [12]:
# Geralmente 15 segundos para carregar o conjunto de dados selecionado
df_aluno_5EF = pd.read_csv(
    file_alunos_5EF,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True, 
    # nrows=1000000  # Para fazer testes com os dados
)

In [13]:
df_aluno_9EF = pd.read_csv(
    file_alunos_9EF,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True, 
)

In [14]:
# df_aluno_3EM_AG = pd.read_csv(
#     file_alunos_3EM_AG,
#     delimiter=',', encoding='iso-8859-1',
#     usecols=colunas_aluno,
#     low_memory=True, 
# )

In [15]:
df_aluno_3EM = pd.read_csv(
    file_alunos_3EM_ESC,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True, 
)

In [16]:
df_aluno_5EF.sample(10)

,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_SERIE,ID_ALUNO,IN_PREENCHIMENTO_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT,PROFICIENCIA_LP,PROFICIENCIA_MT,TX_RESP_Q001,TX_RESP_Q002
169925,1,15,1501709,2,5,22128808,0,3.0,5.0,...........,...........,...........,...........,NaN,NaN,NaN,NaN
1399707,3,33,3301504,2,5,25077107,0,7.0,1.0,...........,...........,...........,...........,NaN,NaN,NaN,NaN
2033671,3,35,3554003,2,5,28031996,1,7.0,3.0,BBACCDBACCD,DDDDBBCBADA,CCDDDCBDDCA,ADAAADCCBCB,-0.704832,-0.644807,B,D
1752934,3,35,3530300,2,5,27819357,1,3.0,6.0,CDDBBCBCACA,ABCAACADCCB,CACCDDCDACC,CDBACCBABAC,-1.491299,-1.471218,A,A
2021200,3,35,3552403,2,5,28181055,1,3.0,6.0,DDADAADBACA,ADADBBACCDC,CAACBBCDBCA,BCCBDBDDBBB,-0.791252,-0.080292,A,C
1333244,3,32,3201308,2,5,24956132,1,6.0,7.0,BDACBBA*ABB,BBBDBABADCD,CBABBADDDAD,CCAACDBCDBB,-0.616142,-0.777250,B,F
1683393,3,35,3519709,2,5,27996162,1,5.0,7.0,DDACDACDDBD,BBDCBDBABAB,ABDDDACCDCA,CCADBDBDCCD,0.407487,0.421255,B,A
383991,2,21,2108058,2,5,22338421,1,7.0,1.0,ABABAAABCDA,BCCDBDDABCC,DBCBCCCDDCB,BDDBACDBBAD,-1.751161,-2.193475,A,C
1913538,3,35,3550308,1,5,27565849,1,5.0,6.0,DAACDCDDDBD,ACADBCACDCC,ACBBDAADDAB,AAABADDABCC,-0.917897,-1.091293,B,NaN
2388453,4,43,4319000,2,5,26343641,0,7.0,1.0,...........,...........,...........,...........,NaN,NaN,NaN,NaN

In [17]:
df_aluno_9EF.sample(10)

,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_SERIE,ID_ALUNO,IN_PREENCHIMENTO_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT,PROFICIENCIA_LP,PROFICIENCIA_MT,TX_RESP_Q001,TX_RESP_Q002
1516965,3,35,3521309,2,9,27996938,1,1.0,2.0,CDBBADDCCBCAD,CDABAABDBCDBA,CAACBDBBBABCB,CCCBAABBACCAB,-0.325815,-0.333595,NaN,C
90132,1,13,1303403,2,9,21690264,1,6.0,1.0,BCDCDDBABCDCA,CADBBCDDBDCBA,DDBDBCCDDCCCB,CACCACBCCBCBC,-1.375817,-0.612362,B,C
2057162,4,43,4305959,2,9,26422929,1,6.0,2.0,BCACBCCDCDCBC,CACADABDBCBAD,DBDCDBABBADCD,BDBCDABBACADD,1.600194,1.558495,B,C
235263,1,17,1706100,2,9,22235042,0,1.0,3.0,.............,.............,.............,.............,NaN,NaN,NaN,NaN
2288364,5,52,5215231,2,9,26865135,1,2.0,5.0,CACADABDBCAAD,BCDCCACDCDBAB,CBBCBACBCCDAA,CDBDDDDCBCBAB,0.887801,-0.052538,A,A
759424,2,28,6307218,2,9,23642398,0,5.0,1.0,.............,.............,.............,.............,NaN,NaN,NaN,NaN
2191239,5,51,5102702,2,9,26554911,0,6.0,7.0,.............,.............,.............,.............,NaN,NaN,NaN,NaN
2073148,4,43,4310009,2,9,26206580,1,3.0,5.0,CBDDCDCABADDD,BADAAAADCBBAB,DBCCAABCACDCD,CDBDDDDBCBCAB,0.823279,1.240028,A,A
1694503,3,35,3550308,1,9,27014553,1,4.0,6.0,DBDDDBBAADBCD,BCACACCDCDCBC,BDCBCAABCACAB,DBCCDAABDCCCB,0.847383,0.424824,A,A
1723535,3,35,3550308,1,9,27494705,1,3.0,6.0,CCDAADAABBDCA,AAABBDCACBBAA,CDBBCACCDDDAB,ADBAAACAADBAA,-0.843181,-1.909236,B,B

In [18]:
df_aluno_3EM.sample(10)

,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_SERIE,ID_ALUNO,IN_PREENCHIMENTO_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT,PROFICIENCIA_LP,PROFICIENCIA_MT,TX_RESP_Q001,TX_RESP_Q002
228359,2,22,2207702,2,12,21486611,1,7,2,AAAAAAAAAAAAA,AAABBBDDDCCCA,ABCDACCCAEAAA,EAAAAADADBAAA,-0.971244,-0.039534,A,NaN
822939,3,33,3304557,1,12,25325123,1,1,3,ABCDBCDBCBCDC,ABCDEABABCDCD,CCDACBDCCAEBD,CDAECDCBCDBCB,-1.499210,-0.102614,A,C
1163665,3,35,3551009,2,12,27205693,1,3,5,ABCBCEDAAEAAD,BBBDAADDAEEAC,EBACCBCCCBDAD,ACBEBEBCDDDCA,0.973936,1.255069,A,C
70607,1,15,1500800,2,12,21866294,1,7,2,DCAEABADCCDDE,BCDBEBDDDBABD,ACEDECCCCBDAD,DCBDBDDCDBBBA,0.174351,-0.190804,A,C
416255,2,26,2610608,2,12,23443628,1,7,3,DCBCCACDACCDD,BDEEBCADDBBAD,CBBBECCBCAADA,CEDDABCACBCDD,-0.561430,-0.274598,A,A
1059963,3,35,3548708,2,12,28397831,1,2,4,ACAAACBDDAEBC,AEBACBABCAAEA,DCEDADDCDACCC,CEBDAABDAEDEA,0.049682,0.563248,B,C
648024,3,31,3130200,2,12,24333451,1,4,5,EDBACAACCBABE,BAEDEEDDAEAAE,CADDEBBDDDCBA,AECEDCDCCBADA,1.472613,1.099489,B,A
756626,3,32,3205200,2,13,24984383,1,3,4,AEDBBEDDAEEAD,AEBACABDCDAEE,ABBDDCCAADCAB,BEDDBEBBCEEBB,0.724632,-0.163733,A,A
563383,2,29,2927408,1,12,23874387,1,5,6,CADCCACDCEECE,DAADADCABEEAB,ACDEEDBCDDADE,BCAACBABBCAAC,-1.212696,-0.029736,B,A
759832,3,32,3205309,1,13,24992870,1,4,5,BBBAACABCEEBA,BBBBBCDDAECAB,CEBDAABBACEEA,ABBEDCDCCBECC,0.118684,1.324692,B,C

In [19]:
### Série
idx_serie_gab = colunas_resp.index(ID_SERIE)
idx_serie_aluno = colunas_aluno.index(ID_SERIE)

### R. Respostas
idx_disciplina = colunas_resp.index(DISCIPLINA)
idx_posicao_gabarito = colunas_resp.index(ID_POSICAO)
idx_gabarito = colunas_resp.index(GABARITO)
idx_preenchimento_prova = colunas_aluno.index(IN_PREENCHIMENTO_PROVA)
# idx_presenca_prova = colunas_aluno.index(IN_PRESENCA_PROVA)
# idx_preenchimento_questionario = colunas_aluno.index(IN_PREENCHIMENTO_QUESTIONARIO)

### Blocos
bloco_gab = colunas_resp.index(ID_BLOCO) 
bloco_resp_1 = colunas_aluno.index(ID_BLOCO_1)
bloco_resp_2 = colunas_aluno.index(ID_BLOCO_2)
aluno_resp_bloco_1_lp = colunas_aluno.index(TX_RESP_BLOCO_1_LP) 
aluno_resp_bloco_2_lp = colunas_aluno.index(TX_RESP_BLOCO_2_LP) 
aluno_resp_bloco_1_mt = colunas_aluno.index(TX_RESP_BLOCO_1_MT) 
aluno_resp_bloco_2_mt = colunas_aluno.index(TX_RESP_BLOCO_2_MT) 

### Região de Estudo/Aluno
idx_uf = colunas_aluno.index(ID_UF )
idx_municipio = colunas_aluno.index(ID_MUNICIPIO)
idx_regiao = colunas_aluno.index(ID_REGIAO)
idx_area = colunas_aluno.index(ID_AREA)
idx_sexo = colunas_aluno.index(TX_RESP_Q001)
idx_raca = colunas_aluno.index(TX_RESP_Q002)

In [20]:
filtro_de_colunas_resposta = ['ID Aluno', 'Série', 'Nota LP', 'Nota MT', 'UF', 'Município', 'Região', 'Área', 'Sexo', 'Raça']

In [32]:
def filtrar_dados(serie_dados, nao_realizado=0, colunas=filtro_de_colunas_resposta):
    """
    
    :param serie_dados:     Série de dados carregados (DataFrame)
    :param nao_realizado:   Número de ocorrências do Não Preenchimento de Prova
    :param colunas:  Filtro de Colunas à serem aplicadas ao resultado de serie_dados 
    :return: 
        Dados Filtrado (DataFrame)
        Quantidade não realizada de provas
    """
    resultado_filtrado = pd.DataFrame([], columns=colunas)
    for r in serie_dados.to_numpy():
        nota_mt = 0
        nota_pt = 0
        # Quem não fez a prova é ignorado
        if not r[idx_preenchimento_prova]:
            nao_realizado =+ 1
            print(r[idx_preenchimento_prova], bool(r[idx_preenchimento_prova]))
            continue
        for gab in df_gabarito.to_numpy():
            # if gab['ID_SERIE'] == r['ID_SERIE']:
            if gab[idx_serie_gab] == r[idx_serie_aluno] and\
                    (r[bloco_resp_1] == gab[bloco_gab] or r[bloco_resp_2] == gab[bloco_gab]):
                # 8 'TX_RESP_BLOCO_1_LP'8, 'TX_RESP_BLOCO_2_LP'9, 'TX_RESP_BLOCO_1_MT'10, 'TX_RESP_BLOCO_2_MT'11,
                is_bloco_1 = r[bloco_resp_1] == gab[bloco_gab]
                if is_bloco_1 and r[bloco_resp_2] == gab[bloco_gab]:
                    print ('EDGE CASES!!')
                if gab[idx_gabarito] not in RESPOSTAS_INVALIDAS:
                    if gab[idx_disciplina] == 'LP':
                        resp_aluno = str(r[aluno_resp_bloco_1_lp if is_bloco_1 else aluno_resp_bloco_2_lp])
                        if gab[idx_posicao_gabarito] in (13, 12):
                            print ('EDGE CASES!!')
                        if resp_aluno[gab[idx_posicao_gabarito]-1] == gab[idx_gabarito]:
                            nota_pt += 1
                    elif gab[idx_disciplina] == 'MT':
                        resp_aluno = str(r[aluno_resp_bloco_1_mt if is_bloco_1 else aluno_resp_bloco_2_mt])
                        if resp_aluno[gab[idx_posicao_gabarito]-1] == gab[idx_gabarito]:
                            nota_mt += 1
        # if nota_pt > 22 or nota_mt > 22:
        #     print ('EDGE CASES!')
        if nota_pt or nota_mt:
            print(nota_pt, nota_mt)
            resultado_filtrado.append([
                r[0],
                r[idx_serie_aluno],
                nota_pt,
                nota_mt,
                r[idx_uf],
                r[idx_municipio],
                r[idx_regiao],
                r[idx_area],
                r[idx_sexo],
                r[idx_raca]
            ]
            ,
                ignore_index=True
            )
    return resultado_filtrado, nao_realizado

In [ ]:
# O filtro aplicado demora cerca de 16 minutos cada arquivo 
# qtd_prova_nao_realizada_9SEM = 0
# qtd_prova_nao_realizada_3EM = 0

# dados_filtrados = pd.DataFrame([], columns=colunas_filtro)
# dados_filtrados = list()

dados_filtrados_5SEM, qtd_prova_nao_realizada_5SEM = filtrar_dados(df_aluno_5EF, 0)

In [23]:
# dados_filtrados_9SEM, qtd_prova_nao_realizada_9SEM = filtrar_dados(df_aluno_9EF, 0)

In [24]:
# dados_filtrados_3EM, qtd_prova_nao_realizada_3EM = filtrar_dados(df_aluno_3EM, 0)

In [25]:
print(qtd_prova_nao_realizada_5SEM)
print(dados_filtrados_5SEM[:5])

1
Empty DataFrame
Columns: [ID Aluno, Série, Nota LP, Nota MT, UF, Município, Região, Área, Sexo, Raça]
Index: []

In [31]:
# dados_filtrados_5SEM.sample(5)
dados_filtrados_5SEM.to_numpy()

array([], shape=(0, 10), dtype=object)

In [27]:
df_aluno_5EF.query('ID_SERIE == 9 & (ID_BLOCO_1 == 7 | ID_BLOCO_2 == 7)')[['ID_SERIE', 'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT']].head(15)

Empty DataFrame
Columns: [ID_SERIE, ID_BLOCO_1, ID_BLOCO_2, TX_RESP_BLOCO_1_LP, TX_RESP_BLOCO_2_LP, TX_RESP_BLOCO_1_MT, TX_RESP_BLOCO_2_MT]
Index: []

In [28]:
df_gabarito.query('ID_SERIE == 3 & DISCIPLINA == "LP" & ID_SERIE_ITEM == 9 & ID_BLOCO == 7').head(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
84,3,Prova Regular,LP,9,7,7,A
85,3,Prova Regular,LP,9,7,8,C
86,3,Prova Regular,LP,9,7,9,C