In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
pd.options.display.max_columns = 25

In [4]:
pd.options.display.max_rows = None

Arquivos extraídos do Microdados INEP

In [5]:
file_resp = '../dados/TS_ITEM.csv'

In [6]:
file_alunos_3EM_ESC = '../dados/TS_ALUNO_3EM_ESC.csv'
file_alunos_3EM_AG = '../dados/TS_ALUNO_3EM_AG.csv'
file_alunos_5EF = '../dados/TS_ALUNO_5EF.csv'
file_alunos_9EF = '../dados/TS_ALUNO_9EF.csv'

Conjunto Definido de Colunas à Serem Utilizadas

Identificadores das Colunas

In [7]:

RESPOSTAS_INVALIDAS = ['X', '.', '*', ' ', '']

ID_SERIE = 'ID_SERIE'
TIPO_PROVA = 'TIPO_PROVA'
DISCIPLINA = 'DISCIPLINA'
ID_SERIE_ITEM = 'ID_SERIE_ITEM'
ID_BLOCO = 'ID_BLOCO'
ID_POSICAO = 'ID_POSICAO'
GABARITO = 'GABARITO'
ID_PROVA_BRASIL = 'ID_PROVA_BRASIL' # Ano da Prova, pode ser ignorado, pois os arquivos são baixados por ano
ID_UF = 'ID_UF'
ID_MUNICIPIO = 'ID_MUNICIPIO'

# Preenchimento Prova
# ID_SERIE = 'ID_SERIE'
IN_PREENCHIMENTO_PROVA = 'IN_PREENCHIMENTO_PROVA'
IN_PRESENCA_PROVA = 'IN_PRESENCA_PROVA'
ID_REGIAO = 'ID_REGIAO'
ID_AREA = 'ID_AREA'
# Respostas da Prova
ID_BLOCO_1 = 'ID_BLOCO_1'
ID_BLOCO_2 = 'ID_BLOCO_2'
TX_RESP_BLOCO_1_LP = 'TX_RESP_BLOCO_1_LP'
TX_RESP_BLOCO_2_LP = 'TX_RESP_BLOCO_2_LP'
TX_RESP_BLOCO_1_MT = 'TX_RESP_BLOCO_1_MT'
TX_RESP_BLOCO_2_MT = 'TX_RESP_BLOCO_2_MT'
# Proeficiência do ALuno
PESO_ALUNO_LP = 'PESO_ALUNO_LP'
PESO_ALUNO_MT = 'PESO_ALUNO_MT'
PROFICIENCIA_LP = 'PROFICIENCIA_LP'
ERRO_PADRAO_LP = 'ERRO_PADRAO_LP'
PROFICIENCIA_LP_SAEB = 'PROFICIENCIA_LP_SAEB'
ERRO_PADRAO_LP_SAEB = 'ERRO_PADRAO_LP_SAEB'
PROFICIENCIA_MT = 'PROFICIENCIA_MT'
ERRO_PADRAO_MT = 'ERRO_PADRAO_MT'
PROFICIENCIA_MT_SAEB = 'PROFICIENCIA_MT_SAEB'
ERRO_PADRAO_MT_SAEB = 'ERRO_PADRAO_MT_SAEB'
# Questionário Socioeconômico
IN_PREENCHIMENTO_QUESTIONARIO = 'IN_PREENCHIMENTO_QUESTIONARIO'
TX_RESP_Q001 = 'TX_RESP_Q001' # Sexo
TX_RESP_Q002 = 'TX_RESP_Q002' # Cor/Raça

In [8]:
colunas_resp = [ID_SERIE, TIPO_PROVA, DISCIPLINA, ID_SERIE_ITEM, ID_BLOCO, ID_POSICAO, GABARITO]
# DESCRITOR_HABILIDADE

In [9]:
colunas_aluno = [
    ID_PROVA_BRASIL,
    ID_UF, ID_MUNICIPIO, ID_REGIAO, ID_AREA,
    ID_SERIE, IN_PREENCHIMENTO_PROVA, IN_PRESENCA_PROVA,
    ID_BLOCO_1, ID_BLOCO_2,
    TX_RESP_BLOCO_1_LP, TX_RESP_BLOCO_2_LP, TX_RESP_BLOCO_1_MT, TX_RESP_BLOCO_2_MT,
    PESO_ALUNO_LP, PESO_ALUNO_MT,
    PROFICIENCIA_LP, ERRO_PADRAO_LP, PROFICIENCIA_LP_SAEB, ERRO_PADRAO_LP_SAEB,
    PROFICIENCIA_MT, ERRO_PADRAO_MT, PROFICIENCIA_MT_SAEB, ERRO_PADRAO_MT_SAEB,
    IN_PREENCHIMENTO_QUESTIONARIO,
    TX_RESP_Q001,
    TX_RESP_Q002
]

In [10]:
df_gabarito = pd.read_csv(
    file_resp,
    delimiter=';', encoding='iso-8859-1',
    usecols=colunas_resp,
    low_memory=True
    #  # true_values=['1'],
    # false_values=['0']
)

In [12]:
df_gabarito.sample(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
221,3,Macrotipo 18 e 24,MT,3,2,1,A
624,9,Prova Regular,MT,9,6,11,D
324,5,Macrotipo 18 e 24,LP,5,2,5,B
131,3,Prova Regular,MT,3,2,2,B
300,5,Prova Regular,LP,5,7,1,B
206,3,Prova Regular,MT,3,7,12,B
407,5,Prova Regular,MT,5,7,9,C
182,3,Prova Regular,MT,3,6,1,B
555,9,Prova Regular,MT,5,1,7,B
526,9,Macrotipo 18 e 24,LP,9,1,4,D

In [13]:
df_gabarito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 7 columns):
ID_SERIE         666 non-null int64
TIPO_PROVA       666 non-null object
DISCIPLINA       666 non-null object
ID_SERIE_ITEM    666 non-null int64
ID_BLOCO         666 non-null int64
ID_POSICAO       666 non-null int64
GABARITO         666 non-null object
dtypes: int64(4), object(3)
memory usage: 36.5+ KB

In [14]:
df_aluno = pd.read_csv(
    file_alunos_5EF,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True,
    nrows=50000
    #  # true_values=['1'],
    # false_values=['0']
)

In [15]:
df_aluno.sample(10)

,ID_PROVA_BRASIL,ID_REGIAO,ID_UF,ID_MUNICIPIO,ID_AREA,ID_SERIE,IN_PREENCHIMENTO_PROVA,IN_PRESENCA_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,...,PESO_ALUNO_MT,PROFICIENCIA_LP,ERRO_PADRAO_LP,PROFICIENCIA_LP_SAEB,ERRO_PADRAO_LP_SAEB,PROFICIENCIA_MT,ERRO_PADRAO_MT,PROFICIENCIA_MT_SAEB,ERRO_PADRAO_MT_SAEB,IN_PREENCHIMENTO_QUESTIONARIO,TX_RESP_Q001,TX_RESP_Q002
39434,2017,1,12,1200401,1,5,1,1,7,3,BABCACCABCB,DCDAACDBADD,...,1.107143,-1.554020,0.317196,164.368802,17.475394,-1.018768,0.446688,193.023066,24.966432,1,B,D
19482,2017,1,11,1100296,2,5,1,1,4,5,BCCBAAABDAC,DDDCDACDDBD,...,0.900000,0.189766,0.349852,260.439837,19.274523,0.338414,0.326072,268.879127,18.224923,1,A,C
8370,2017,1,11,1100130,2,5,1,1,5,1,ACAAAAAAAAA,AAAA.AAAAAA,...,0.960000,-2.691318,0.466823,101.711231,25.718849,-2.207789,0.544075,126.565914,30.409618,1,A,A
2654,2017,1,11,1100049,2,5,1,1,7,1,DBDCDDBABAD,BCCDBCBABBB,...,0.909091,0.179449,0.355444,259.871439,19.582605,-0.353010,0.340182,230.233830,19.013564,1,A,A
16851,2017,1,11,1100205,1,5,1,1,2,4,DAACDBABBCD,BCCBAADDDBC,...,0.947368,-0.169990,0.326579,240.619669,17.992335,0.661478,0.333932,286.935926,18.664237,1,NaN,NaN
11643,2017,1,11,1100205,1,5,1,1,7,1,BBDADAB....,BCCDBCBABBB,...,1.115385,-0.102183,0.362982,244.355385,19.997899,1.463811,0.460329,331.780185,25.728859,1,B,C
11994,2017,1,11,1100205,1,5,1,1,6,2,BDCCABAACBC,DAABACDBBCA,...,1.050000,-0.287834,0.306209,234.127247,16.870084,-0.981400,0.326674,195.111650,18.258570,1,B,C
46649,2017,1,13,1300300,2,5,1,1,7,1,ABCDCADDBAC,BBCDCCBACDC,...,1.571429,-1.767959,0.379155,152.582183,20.888924,-1.742507,0.512472,152.571608,28.643253,1,A,C
36565,2017,1,12,1200401,1,5,1,1,6,2,BDCCBBAACDC,DBADDDDBBCC,...,1.117647,-0.100555,0.321948,244.445077,17.737198,-0.444334,0.294303,225.129519,16.449280,1,B,C
26699,2017,1,11,1101492,2,5,1,1,1,2,BCBABAABBBB,DAADAADBAAD,...,1.142857,-1.024450,0.273270,193.544594,15.055363,-0.889145,0.442447,200.267997,24.729393,1,A,F

In [16]:
df_aluno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
ID_PROVA_BRASIL                  50000 non-null int64
ID_REGIAO                        50000 non-null int64
ID_UF                            50000 non-null int64
ID_MUNICIPIO                     50000 non-null int64
ID_AREA                          50000 non-null int64
ID_SERIE                         50000 non-null int64
IN_PREENCHIMENTO_PROVA           50000 non-null int64
IN_PRESENCA_PROVA                50000 non-null int64
ID_BLOCO_1                       50000 non-null int64
ID_BLOCO_2                       50000 non-null int64
TX_RESP_BLOCO_1_LP               50000 non-null object
TX_RESP_BLOCO_2_LP               50000 non-null object
TX_RESP_BLOCO_1_MT               50000 non-null object
TX_RESP_BLOCO_2_MT               50000 non-null object
PESO_ALUNO_LP                    42586 non-null float64
PESO_ALUNO_MT                    42586 non-null float64
PROFICIENCIA_LP                  42669 non-null float64
ERRO_PADRAO_LP                   42669 non-null float64
PROFICIENCIA_LP_SAEB             42669 non-null float64
ERRO_PADRAO_LP_SAEB              42669 non-null float64
PROFICIENCIA_MT                  42669 non-null float64
ERRO_PADRAO_MT                   42669 non-null float64
PROFICIENCIA_MT_SAEB             42669 non-null float64
ERRO_PADRAO_MT_SAEB              42669 non-null float64
IN_PREENCHIMENTO_QUESTIONARIO    50000 non-null int64
TX_RESP_Q001                     40344 non-null object
TX_RESP_Q002                     40260 non-null object
dtypes: float64(10), int64(11), object(6)
memory usage: 10.3+ MB

In [27]:
# https://mybinder.org/v2/gh/luizirber/2018-desertos/master?filepath=Usando%20Pandas%20para%20encontrar%20os%20desertos%20de%20not%C3%ADcias%20no%20Brasil.ipynb

In [28]:
# aluno_resposta = df_aluno.join(df_gabarito, on=('ID_SERIE', ), lsuffix='_l', rsuffix='_r')

In [29]:
# aluno_resposta.describe()

In [30]:
# aluno_resposta.info()

In [31]:
# aluno_resposta.sample(10)

In [32]:
# aluno_resposta.to_numpy()

array([[2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       ...,
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D']], dtype=object)

In [33]:
# To-do: Função que vê se uma resposta está certa

In [34]:
# doing

In [ ]:
# p = pd.DataFrame(data, columns=[])

In [17]:
dados = list()

In [20]:
### Série
idx_serie_gab = colunas_resp.index(ID_SERIE)
idx_serie_aluno = colunas_aluno.index(ID_SERIE)

### R. Respostas
idx_disciplina = colunas_resp.index(DISCIPLINA)
idx_posicao_gabarito = colunas_resp.index(ID_POSICAO)
idx_gabarito = colunas_resp.index(GABARITO)

### Blocos
bloco_gab = colunas_resp.index(ID_BLOCO) 
bloco_resp_1 = colunas_aluno.index(ID_BLOCO_1)
bloco_resp_2 = colunas_aluno.index(ID_BLOCO_2)
aluno_resp_bloco_1_lp = colunas_aluno.index(TX_RESP_BLOCO_1_LP) 
aluno_resp_bloco_2_lp = colunas_aluno.index(TX_RESP_BLOCO_2_LP) 
aluno_resp_bloco_1_mt = colunas_aluno.index(TX_RESP_BLOCO_1_MT) 
aluno_resp_bloco_2_mt = colunas_aluno.index(TX_RESP_BLOCO_2_MT) 

### Região de Estudo/Aluno
idx_uf = colunas_aluno.index(ID_UF )
idx_municipio = colunas_aluno.index(ID_MUNICIPIO)
idx_regiao = colunas_aluno.index(ID_REGIAO)
idx_area = colunas_aluno.index(ID_AREA)
idx_sexo = colunas_aluno.index(TX_RESP_Q001)
idx_raca = colunas_aluno.index(TX_RESP_Q002)

In [21]:
colunas_filtro = ['Série', 'Nota LP', 'Nota MT', 'UF', 'Município', 'Região', 'Área', 'Sexo', 'Raça']
dados_filtrados = []

In [1]:
for r in df_aluno.to_numpy():
    nota_mt = 0
    nota_pt = 0
    for gab in df_gabarito.to_numpy():
        # if gab['ID_SERIE'] == r['ID_SERIE']:
        if gab[idx_serie_gab] == r[idx_serie_aluno] and\
                (r[bloco_resp_1] == gab[bloco_gab] or r[bloco_resp_2] == gab[bloco_gab]):
            # 8 'TX_RESP_BLOCO_1_LP'8, 'TX_RESP_BLOCO_2_LP'9, 'TX_RESP_BLOCO_1_MT'10, 'TX_RESP_BLOCO_2_MT'11,
            is_bloco_1 = r[bloco_resp_1] == gab[bloco_gab]
            if is_bloco_1 and r[bloco_resp_2] == gab[bloco_gab]:
                print ('EDGE CASES!!')
            if gab[idx_gabarito] not in RESPOSTAS_INVALIDAS:
                if gab[idx_disciplina] == 'LP':
                    resp_aluno = str(r[aluno_resp_bloco_1_lp if is_bloco_1 else aluno_resp_bloco_2_lp])
                    if resp_aluno[gab[idx_posicao_gabarito]] == gab[idx_gabarito]:
                        nota_pt += 1
                elif gab[idx_disciplina] == 'MT':
                    resp_aluno = str(r[aluno_resp_bloco_1_mt if is_bloco_1 else aluno_resp_bloco_2_mt])
                    if [gab[4]-1] == gab[5]:
                        nota_mt += 1
    if nota_pt or nota_mt:
        dados_filtrados.append([
            r[idx_serie_aluno],
            nota_pt,
            nota_mt,
            r[idx_uf],
            r[idx_municipio],
            r[idx_regiao],
            r[idx_area],
            r[idx_sexo],
            r[idx_raca]
        ])
#%
dados_filtrados = pd.DataFrame(dados_filtrados, columns=colunas_filtro)

NameError: name 'df_aluno' is not defined

In [ ]:
dados_filtrados.sample(5)

In [40]:
df_aluno.query('ID_SERIE == 9 & (ID_BLOCO_1 == 7 | ID_BLOCO_2 == 7)')[['ID_SERIE', 'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT']].head(15)

,ID_SERIE,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT
4,9,7,2,ADCBBBCABAACD,CDBADABCBBBBD,AABCDADBCACBD,CBDCAABCCDCDA
5,9,7,1,ACDAAACABBACD,CDDCADDA*DBBC,BBDCDDDAABCBC,BABCADBCABBCA
7,9,4,7,DDDDDBBADABCB,CDDBBBCABCABD,BACBBACBCCDCA,BABAACCBAAABB
9,9,7,3,ACDBCDCABADCD,CBDDCACABADDD,BABCADDBDBCCA,DBBDDDBCACDBA
18,9,6,7,ACDCADCDCDCCB,ABCADABBBACCD,DDABBAABBBADC,DABCAADBCACDC
22,9,7,3,ABDCCABDCAACD,DBAACBAABBDDD,BABCDADBCADCD,DBABCDBDAAABD
23,9,7,1,ADDBDBCABAACD,CDBDADDADCAAD,BABCAADBAABDD,CCBDBDBAADCBB
24,9,6,7,DCDCCDCDCBDDC,DABACCCBBCCAB,DCDADDACCBADD,BAACBDDBCAABB
27,9,4,7,ABCDDBBCDDBCB,ADDBBACDBAACD,BABBCDCBDCCCB,BABDDBDBDADAC
37,9,5,7,.............,.............,.............,.............
42,9,5,7,BCDCACBDCADAB,ABCDCBABCDCBA,CDBDABDCDCBDA,BABDDBDDACABC
48,9,4,7,DBDCCABDDACCB,ABCBCBCDDCBCA,BDABCCCBCACCB,BCBAADDBBCCCC
54,9,5,7,BCACBAADCDDAA,ACDAABCABAACD,CABDDBDBCBCAB,BABAAADBCADBD
55,9,7,3,ABDBDBCABAACD,CBDDCACCBADBD,BABDBADBADCAB,DBCCBABDCBBBB
58,9,7,2,ACDBCBCABAACD,CDCADABDACCCC,BABCBAABBBADB,CACCBDBBCCDDB

In [35]:
df_gabarito.query('ID_SERIE == 3 & DISCIPLINA == "LP" & ID_SERIE_ITEM == 9 & ID_BLOCO == 7').head(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
84,3,Prova Regular,LP,9,7,7,A
85,3,Prova Regular,LP,9,7,8,C
86,3,Prova Regular,LP,9,7,9,C