In [1]:
import pandas as pd

In [2]:
%matplotlib inline

In [3]:
pd.options.display.max_columns = 25

In [4]:
pd.options.display.max_rows = None

Arquivos extraídos do Microdados INEP

In [5]:
file_resp = '../dados/TS_ITEM.csv'

In [6]:
file_alunos_ag1 = '../dados/TS_ALUNO_3EM_ESC.csv'
file_alunos_ag2 = '../dados/TS_ALUNO_3EM_AG.csv'
file_alunos_ag3 = '../dados/TS_ALUNO_5EF.csv'
file_alunos_ag = '../dados/TS_ALUNO_9EF.csv'

Conjunto Definido de Colunas à Serem Utilizadas

In [29]:
colunas_resp = ['ID_SERIE', 'TIPO_PROVA', 'DISCIPLINA', 'ID_SERIE_ITEM', 'ID_BLOCO', 'ID_POSICAO', 'GABARITO']
# DESCRITOR_HABILIDADE

In [8]:
colunas_aluno = [
    # Localidade
    'ID_PROVA_BRASIL',  # Ano da Prova, pode ser ignorado, pois os arquivos são baixados por ano
    'ID_UF', 'ID_MUNICIPIO',
    # Preenchimento Prova
    'ID_SERIE', 'IN_PREENCHIMENTO_PROVA', 'IN_PRESENCA_PROVA',
    # Respostas da Prova
    'ID_BLOCO_1', 'ID_BLOCO_2',
    'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT',
    # Proeficiência do ALuno
    'PESO_ALUNO_LP', 'PESO_ALUNO_MT',
    'PROFICIENCIA_LP', 'ERRO_PADRAO_LP', 'PROFICIENCIA_LP_SAEB', 'ERRO_PADRAO_LP_SAEB',
    'PROFICIENCIA_MT', 'ERRO_PADRAO_MT', 'PROFICIENCIA_MT_SAEB', 'ERRO_PADRAO_MT_SAEB',
    # Questionário Socioeconômico
    'IN_PREENCHIMENTO_QUESTIONARIO',
    'TX_RESP_Q001', # Sexo
    'TX_RESP_Q002' # Cor/Raça
]

In [30]:
df_gabarito = pd.read_csv(
    file_resp,
    delimiter=';', encoding='iso-8859-1',
    usecols=colunas_resp,
    low_memory=True
    #  # true_values=['1'],
    # false_values=['0']
)

In [31]:
df_gabarito.sample(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
560,9,Prova Regular,MT,9,1,12,D
215,3,Macrotipo 18 e 24,MT,9,1,8,C
449,9,Prova Regular,LP,9,2,5,D
508,9,Prova Regular,LP,9,6,12,B
616,9,Prova Regular,MT,9,6,3,D
211,3,Macrotipo 18 e 24,MT,3,1,4,C
75,3,Prova Regular,LP,3,6,11,D
22,3,Prova Regular,LP,3,2,10,B
539,9,Macrotipo 18 e 24,LP,9,2,6,C
265,5,Prova Regular,LP,5,3,10,C

In [11]:
df_gabarito.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 666 entries, 0 to 665
Data columns (total 6 columns):
ID_SERIE         666 non-null int64
TIPO_PROVA       666 non-null object
DISCIPLINA       666 non-null object
ID_SERIE_ITEM    666 non-null int64
ID_POSICAO       666 non-null int64
GABARITO         666 non-null object
dtypes: int64(3), object(3)
memory usage: 23.5+ KB

In [12]:
df_aluno = pd.read_csv(
    file_alunos_ag,
    delimiter=',', encoding='iso-8859-1',
    usecols=colunas_aluno,
    low_memory=True,
    nrows=50000
    #  # true_values=['1'],
    # false_values=['0']
)

In [13]:
df_aluno.sample(10)

,ID_PROVA_BRASIL,ID_UF,ID_MUNICIPIO,ID_SERIE,IN_PREENCHIMENTO_PROVA,IN_PRESENCA_PROVA,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT,PESO_ALUNO_LP,PESO_ALUNO_MT,PROFICIENCIA_LP,ERRO_PADRAO_LP,PROFICIENCIA_LP_SAEB,ERRO_PADRAO_LP_SAEB,PROFICIENCIA_MT,ERRO_PADRAO_MT,PROFICIENCIA_MT_SAEB,ERRO_PADRAO_MT_SAEB,IN_PREENCHIMENTO_QUESTIONARIO,TX_RESP_Q001,TX_RESP_Q002
25134,2017,12,1200203,9,1,1,4,7,CBCDCDBAAABCB,AACACAABAACCD,BCCBADDBCBAAA,BADAAADDDACAB,1.240000,1.240000,-0.443432,0.399876,225.554830,22.030514,-0.189653,0.406170,239.364233,22.701787,1,A,B
36300,2017,12,1200807,9,1,1,7,2,ACDBCBCABACCD,CDCADABDBCBCD,BABCADDBCDDBD,CDBCDBBBACDDC,1.107143,1.107143,1.853073,0.456921,352.077013,25.173314,2.624672,0.446495,396.663409,24.955645,1,A,C
30629,2017,12,1200401,9,1,1,6,1,BCACBCCDCDCBD,CDBDAADADCDDC,DBDCDBCBBBDCB,CCBDBDBCABCCB,1.142857,1.142857,1.663217,0.378850,341.617208,20.872120,1.785717,0.338850,349.772261,18.939115,1,B,C
37800,2017,13,1300086,9,1,1,6,2,ACACBDCDCDCBB,CDCAAABDBCBCD,DCBCDCABBDCCB,CDCCACBBADDDA,1.000207,1.000207,0.721317,0.337883,289.724769,18.615111,0.853684,0.294288,297.678767,16.448441,1,A,C
33306,2017,12,1200401,9,0,0,4,6,.............,.............,.............,.............,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
22290,2017,11,1101500,9,0,0,5,1,.............,.............,.............,.............,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
42133,2017,13,1300805,9,0,0,1,2,.............,.............,.............,.............,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN
39511,2017,13,1300508,9,1,1,3,4,CBCDCACABABDD,ABAABBBAADBCB,DABDDDBDAADCD,BCCBABDBDAADB,1.272991,1.272991,0.301385,0.296597,266.589303,16.340526,-0.417795,0.382576,226.612846,21.383063,1,B,D
30879,2017,12,1200401,9,1,1,5,6,BCACCAADCBBAB,BBACBCADCDCBB,CDBDDDDBBBCBB,DBBCBBABBBDBA,1.275862,1.275862,1.011851,0.318213,305.731264,17.531424,1.271529,0.320769,321.033097,17.928526,1,A,F
20652,2017,11,1100940,9,1,1,7,3,ADDACACDBCACD,CBDDCCCABACCC,BBCABADDDCCAB,BDBDDBBDACAAB,1.555556,1.555556,0.093956,0.289606,255.161342,15.955368,-0.997728,0.439789,194.199040,24.580831,1,B,B

In [14]:
df_aluno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 25 columns):
ID_PROVA_BRASIL                  50000 non-null int64
ID_UF                            50000 non-null int64
ID_MUNICIPIO                     50000 non-null int64
ID_SERIE                         50000 non-null int64
IN_PREENCHIMENTO_PROVA           50000 non-null int64
IN_PRESENCA_PROVA                50000 non-null int64
ID_BLOCO_1                       50000 non-null int64
ID_BLOCO_2                       50000 non-null int64
TX_RESP_BLOCO_1_LP               50000 non-null object
TX_RESP_BLOCO_2_LP               50000 non-null object
TX_RESP_BLOCO_1_MT               50000 non-null object
TX_RESP_BLOCO_2_MT               50000 non-null object
PESO_ALUNO_LP                    39579 non-null float64
PESO_ALUNO_MT                    39579 non-null float64
PROFICIENCIA_LP                  39698 non-null float64
ERRO_PADRAO_LP                   39698 non-null float64
PROFICIENCIA_LP_SAEB             39698 non-null float64
ERRO_PADRAO_LP_SAEB              39698 non-null float64
PROFICIENCIA_MT                  39698 non-null float64
ERRO_PADRAO_MT                   39698 non-null float64
PROFICIENCIA_MT_SAEB             39698 non-null float64
ERRO_PADRAO_MT_SAEB              39698 non-null float64
IN_PREENCHIMENTO_QUESTIONARIO    50000 non-null int64
TX_RESP_Q001                     37807 non-null object
TX_RESP_Q002                     38185 non-null object
dtypes: float64(10), int64(9), object(6)
memory usage: 8.4+ MB

In [27]:
# https://mybinder.org/v2/gh/luizirber/2018-desertos/master?filepath=Usando%20Pandas%20para%20encontrar%20os%20desertos%20de%20not%C3%ADcias%20no%20Brasil.ipynb

In [28]:
# aluno_resposta = df_aluno.join(df_gabarito, on=('ID_SERIE', ), lsuffix='_l', rsuffix='_r')

In [29]:
# aluno_resposta.describe()

In [30]:
# aluno_resposta.info()

In [31]:
# aluno_resposta.sample(10)

In [32]:
# aluno_resposta.to_numpy()

array([[2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       [2017, 11, 1100015, ..., 3, 13, 'D'],
       ...,
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D'],
       [2017, 11, 1100031, ..., 3, 13, 'D']], dtype=object)

In [33]:
# To-do: Função que vê se uma resposta está certa

In [34]:
# doing

In [ ]:
# p = pd.DataFrame(data, columns=[])

In [15]:
dados = list()

In [16]:
colunas = ['id aluno', 'Regiao', 'UF', 'Area', 'Acertos LP', 'Acertos MT']  # id_aluno -> consultar ANEB alunos

In [17]:
for r in df_aluno.to_numpy():
    d = []
    for gab in df_gabarito.to_numpy():
        # if gab['ID_SERIE'] == r['ID_SERIE']:
        if gab[0] == r[3]:
            # 8 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT',
            nota_mt = 0
            nota_pt = 0
            if gab[2] == 'LP':
                if str(r[8])[gab[4]-1] == gab[5] and gab[5] not in ('X', '.'):
                    nota_pt += 1
            elif gab[2] == 'MT':
                if str(r[10])[gab[4]-1] == gab[5] and gab[5] not in ('X', '.'):
                    nota_mt += 1
            d.append([
                #r['ID_ALUNO'],
                #r['ID_REGIAO'],
                r[0],
                #r['ID_AREA'],
                nota_pt,
                nota_mt
            ])

d

In [ ]:
d

In [40]:
df_aluno.query('ID_SERIE == 9 & (ID_BLOCO_1 == 7 | ID_BLOCO_2 == 7)')[['ID_SERIE', 'ID_BLOCO_1', 'ID_BLOCO_2', 'TX_RESP_BLOCO_1_LP', 'TX_RESP_BLOCO_2_LP', 'TX_RESP_BLOCO_1_MT', 'TX_RESP_BLOCO_2_MT']].head(15)

,ID_SERIE,ID_BLOCO_1,ID_BLOCO_2,TX_RESP_BLOCO_1_LP,TX_RESP_BLOCO_2_LP,TX_RESP_BLOCO_1_MT,TX_RESP_BLOCO_2_MT
4,9,7,2,ADCBBBCABAACD,CDBADABCBBBBD,AABCDADBCACBD,CBDCAABCCDCDA
5,9,7,1,ACDAAACABBACD,CDDCADDA*DBBC,BBDCDDDAABCBC,BABCADBCABBCA
7,9,4,7,DDDDDBBADABCB,CDDBBBCABCABD,BACBBACBCCDCA,BABAACCBAAABB
9,9,7,3,ACDBCDCABADCD,CBDDCACABADDD,BABCADDBDBCCA,DBBDDDBCACDBA
18,9,6,7,ACDCADCDCDCCB,ABCADABBBACCD,DDABBAABBBADC,DABCAADBCACDC
22,9,7,3,ABDCCABDCAACD,DBAACBAABBDDD,BABCDADBCADCD,DBABCDBDAAABD
23,9,7,1,ADDBDBCABAACD,CDBDADDADCAAD,BABCAADBAABDD,CCBDBDBAADCBB
24,9,6,7,DCDCCDCDCBDDC,DABACCCBBCCAB,DCDADDACCBADD,BAACBDDBCAABB
27,9,4,7,ABCDDBBCDDBCB,ADDBBACDBAACD,BABBCDCBDCCCB,BABDDBDBDADAC
37,9,5,7,.............,.............,.............,.............
42,9,5,7,BCDCACBDCADAB,ABCDCBABCDCBA,CDBDABDCDCBDA,BABDDBDDACABC
48,9,4,7,DBDCCABDDACCB,ABCBCBCDDCBCA,BDABCCCBCACCB,BCBAADDBBCCCC
54,9,5,7,BCACBAADCDDAA,ACDAABCABAACD,CABDDBDBCBCAB,BABAAADBCADBD
55,9,7,3,ABDBDBCABAACD,CBDDCACCBADBD,BABDBADBADCAB,DBCCBABDCBBBB
58,9,7,2,ACDBCBCABAACD,CDCADABDACCCC,BABCBAABBBADB,CACCBDBBCCDDB

In [35]:
df_gabarito.query('ID_SERIE == 3 & DISCIPLINA == "LP" & ID_SERIE_ITEM == 9 & ID_BLOCO == 7').head(10)

,ID_SERIE,TIPO_PROVA,DISCIPLINA,ID_SERIE_ITEM,ID_BLOCO,ID_POSICAO,GABARITO
84,3,Prova Regular,LP,9,7,7,A
85,3,Prova Regular,LP,9,7,8,C
86,3,Prova Regular,LP,9,7,9,C